.about-us {
  display: flex;
  flex-direction: column;
}

.about-us__content {
  padding: 40px 60px;
}

.about-us__head {
  padding-bottom: 20px;
  font-size: 32px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 40px;
  color: var(--text-another);
}

.about-us__text {
  padding-bottom: 40px;
  padding-right: 60px;
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  line-height: 150%;
  color: var(--text-primary);
}

.about-us__media {
  display: grid;
  grid-template-areas: 'overlay';
  grid-template-rows: 30px 1fr;
  flex-shrink: 0;
}

.about-us_block {
  grid-area: overlay;
  z-index: 1;
  grid-row: 2;
  width: 100%;
  height: 96%;
  background-color: var(--decor-primary);
}

.about-us__image {
  grid-area: overlay;
  height: 90%;
  z-index: 2;
  grid-row: 1 / -1;
}

.about-us__quality {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding-bottom: 30px;
}

.about-us__quality-ico {
  filter: var(--filter-for-icons);
  flex-shrink: 0;
  width: 50px;
  height: 50px;
}

.about-us__quality-container {
  display: flex;
  flex-direction: column;
}

.about-us__quality-head {
  display: flex;
  flex-direction: column;
}

.about-us__quality-title {
  padding-bottom: 14px;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 26px;
  color: var(--text-another);
}

.about-us__quality-description {
  padding-right: 110px;
  font-size: 18px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  line-height: 26px;
  color: var(--text-primary);
}

@media (--lg-viewport) {
  .about-us {
    flex-direction: row;
  }

  .about-us__content {
    width: 50%;
  }

  .about-us__media {
    width: 50%;
    flex-shrink: 0;
  }
}
