.about-us {
  display: flex;
  flex-direction: row;
}

.about-us__content {
  width: 50%;
  padding-left: 20px;
}

.about-us__head {
  padding-bottom: 5px;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 40px;
  color: var(--text-another);
}

.about-us__text {
  padding-bottom: 10px;
  padding-right: 20px;
  font-size: 12px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  line-height: 150%;
  color: var(--text-primary);
}

.about-us__media {
  width: 50%;
  display: grid;
  grid-template-areas: 'overlay';
  grid-template-rows: 30px 1fr;
  flex-shrink: 0;
}

.about-us_block {
  grid-area: overlay;
  z-index: 1;
  grid-row: 2;
  width: 100%;
  height: 90%;
  background-color: var(--decor-primary);
}

.about-us__image {
  grid-area: overlay;
  width: 94%;
  z-index: 2;
  grid-row: 1 / -1;
}

.about-us__quality {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding-bottom: 5px;
}

.about-us__quality-ico {
  filter: var(--filter-for-icons);
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  margin-top: 5px;
}

.about-us__quality-container {
  display: flex;
  flex-direction: column;
}

.about-us__quality-head {
  display: flex;
  flex-direction: column;
}

.about-us__quality-title {
  font-size: 13px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 26px;
  color: var(--text-another);
}

.about-us__quality-description {
  padding-right: 10px;
  font-size: 11px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  color: var(--text-primary);
}

@media (--md-viewport) {
  .about-us__content {
    padding-left: 30px;
  }

  .about-us__head {
    font-size: 24px;
  }

  .about-us__text {
    font-size: 14px;
  }

  .about-us_block {
    height: 103%;
  }

  .about-us__quality {
    padding-bottom: 10px;
  }

  .about-us__quality-ico {
    width: 35px;
    height: 35px;
  }

  .about-us__quality-title {
    font-size: 15px;
  }

  .about-us__quality-description {
    font-size: 13px;
  }
}

@media (--lg-viewport) {
  .about-us__content {
    padding-left: 40px;
  }

  .about-us__head {
    font-size: 32px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .about-us__text {
    font-size: 20px;
    padding-bottom: 20px;
  }

  .about-us_block {
    height: 94%;
  }

  .about-us__quality {
    padding-bottom: 20px;
  }

  .about-us__quality-ico {
    width: 50px;
    height: 50px;
  }

  .about-us__quality-title {
    padding-bottom: 10px;
    font-size: 20px;
  }

  .about-us__quality-description {
    padding-right: 30px;
    font-size: 18px;
  }
}

@media (--xl-viewport) {
  .about-us__content {
    padding: 40px 60px;
  }

  .about-us__head {
    padding-bottom: 20px;
  }

  .about-us__text {
    padding-bottom: 40px;
    padding-right: 60px;
  }

  .about-us__quality {
    padding-bottom: 30px;
  }

  .about-us__quality-title {
    padding-bottom: 14px;
  }

  .about-us__quality-description {
    padding-right: 90px;
  }
}
