.all-furniture__title {
  padding-bottom: 20px;
  text-align: center;
}

.all-furniture__tabs {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-bottom: 80px;
}

.all-furniture__tab {
  color: var(--color-gray-text);
}

.all-furniture__tab.active {
  color: var(--color-deep-teal);
}

.all-furniture__tab.active::after {
  content: '';
  position: relative;
  display: block;
  width: 35%;
  height: 3px;
  background-color: var(--color-deep-teal);
  margin: 4px auto 0;
  left: auto;
  transform: none;
}
