.bunner {
  display: flex;
  background-color: var(--background-primary);
  flex-direction: column;
}

.bunner__content {
  padding: 110px 90px;
}

.bunner__head {
  padding-bottom: 20px;
  font-size: 56px;
  font-family: Montserrat, sans-serif;
  font-weight: 680;
  line-height: 130%;
  color: var(--text-inverse);
}

.bunner__footer {
  padding-bottom: 30px;
  padding-right: 180px;
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 250;
  line-height: 150%;
  color: var(--text-inverse);
}

.bunner__media {
  width: 100%;
  flex-shrink: 0;
}

.bunner__image {
  width: 95%;
  height: 570px;
  object-position: center;
  object-fit: cover;
}

@media (--lg-viewport) {
  .bunner {
    flex-direction: row;
  }

  .bunner__content {
    width: 65%;
  }

  .bunner__media {
    /* width: 520px; */
    width: 35%;
    flex-shrink: 0;
  }
}
