.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  transition:
    color 150ms linear,
    background-color 150ms linear;
  background-color: var(--background-secondary);
  color: var(--text-primary);
  font-size: 20px;

  &:hover {
    background-color: var(--secondary-hover);
  }
}

.button:focus-visible {
  outline: 2px solid var(--text-secondary);
  outline-offset: 2px;
}

.button--on-card {
  background-color: var(--background-default);
  line-height: 150%;
  color: var(--text-primary);

  &:hover {
    background-color: var(--primary-light-hover);
  }
}

.button--dark {
  background-color: var(--primary-default);
  line-height: 150%;
  color: var(--text-primary);

  &:hover {
    background-color: var(--primary-hover);
  }
}

.button--light {
  background-color: var(--background-default);
  line-height: 150%;
  color: var(--text-primary);

  &:hover {
    background-color: var(--text-secondary);
  }
}
