.diff-brands {
  color: var(--text-another);
}

.diff-brands__title {
  text-align: center;
  line-height: 100%;
  font-size: 18px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

.diff-brands__list {
  background-color: var(--background-contrast);
  border-radius: 40px;
  margin-top: 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.diff-brands__item {
  margin: auto;
}

.diff-brands__ico {
  margin-top: 8px;
  margin-bottom: 10px;
}

@media (--sm-viewport) {
  .diff-brands__title {
    font-size: 22px;
  }
}

@media (--md-viewport) {
  .diff-brands__list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (--lg-viewport) {
  .diff-brands__title {
    font-size: 32px;
  }
}

@media (--xl-viewport) {
  .diff-brands__list {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
