.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--text-primary);
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__nav {
  /* display: none; */
}

.header__logo {
  width: 67px;
  height: 10px;
  color: var(--icon-primary);
}

.header__search-btn {
  width: 15px;
  height: 15px;
  color: var(--icon-primary);
}

.header__menu-btn {
  margin-left: 5px;
  width: 15px;
  height: 15px;
  color: var(--icon-primary);
}

@media (--sm-viewport) {
  .header {
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__nav-list {
    gap: 40px;
  }

  .header__logo {
    width: 115px;
    height: 18px;
  }

  .header__search-btn {
    width: 20px;
    height: 20px;
  }

  .header__menu-btn {
    margin-left: 10px;
    width: 20px;
    height: 20px;
  }
}

@media (--md-viewport) {
  .header__nav-list {
    gap: 50px;
  }

  .header__logo {
    width: 144px;
    height: 23px;
  }

  .header__search-btn {
    width: 24px;
    height: 25px;
  }

  .header__menu-btn {
    margin-left: 30px;
    width: 24px;
    height: 25px;
  }
}
