.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__nav {
  
  /* padding-top: 0.7%; */
  /* padding-bottom: 0.7%; */
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* f12 */