.page {
  display: flex;
  flex-direction: column;
}

.page__header {
  flex-shrink: 0;
}

.page__content {
  flex-grow: 1;
}

.page__footer {
  flex-shrink: 0;
}

.page__header-wrapper {
  background-color: red;
}

.page__nav {
  margin-top: 100px;
}

.page__bunner {
  margin-top: 60px;
  margin-bottom: 60px;
}