.popular-furniture {
  display: flex;
  flex-direction: column;
}

.popular-furniture__header {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.popular-furniture__content {
  width: 90%;
}

.popular-furniture__switch {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
}

.popular-furniture__head {
  padding-bottom: 5px;
  font-size: 22px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 52px;
  color: var(--text-primary);
}

.popular-furniture__text {
  padding-right: 11%;
  font-size: 13px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  line-height: 27px;
  color: var(--text-primary);
}

.popular-furniture__switch-button {
  padding: 0 10px 0 5px;
}

.popular-furniture__switch-left-button {
  display: flex;
  align-items: center;
  width: 33px;
  height: 33px;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/images/left_button.svg');
  transition: background-image 0.3s ease;
}

.popular-furniture__switch-right-button {
  display: flex;
  align-items: center;
  width: 33px;
  height: 33px;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/images/right_button.svg');
  transition: background-image 0.3s ease;
}

.popular-furniture__grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 15px;
}

.popular-furniture__item {
  padding-left: 50px;
  padding-right: 50px;
}

.product {
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 16px rgb(0 0 0 / 15%);
}

.product__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.product__info {
  display: grid;
  grid-template:
    'title top-btn' auto
    'price bottom-btn' auto / 1fr auto;
  gap: 10px;
  padding: 15px;
  min-height: 100px;
}

.product__title {
  grid-area: title;
  align-self: start;
  padding-left: 10px;
  padding-top: 13px;
  font-size: 18px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 550;
  line-height: 27px;
  color: var(--text-primary);
}

.product__price {
  grid-area: price;
  align-self: end;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 550;
  line-height: 31px;
  color: var(--text-another);
}

.product__two-buttons {
  display: flex;
  flex-direction: row;
  padding-top: 11px;
  padding-left: 15px;
  grid-area: top-btn;
  align-self: start;
}

.product__round-button {
  padding: 0 4px;
}

.product__heart-button {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/images/heart_button.svg');
  transition: background-image 0.3s ease;
}

.product__heart-button:hover {
  background-image: url('/images/heart_button_red.svg');
}

.product__share-button {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/images/share_button.svg');
  transition: background-image 0.3s ease;
}

.product__button-block {
  grid-area: bottom-btn;
  align-self: end;
  padding-right: 7px;
  padding-bottom: 10px;
}

.product__button {
  height: 37px;
  width: 89px;
  background-color: var(--button-primary);
  color: var(--text-contrast);
  transition: background-color 0.3s ease;
  white-space: nowrap;
  flex-shrink: 0;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 2px;
}

.product__button:hover {
  background-color: var(--button-primary-hover);
}

@media (--md-viewport) {
  .popular-furniture__header {
    padding-bottom: 20px;
  }

  .popular-furniture__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
  }

  .product__info {
    padding: 10px;
    min-height: 130px;
  }

  .product__title {
    font-size: 19px;
  }

  .product__price {
    font-size: 24px;
  }

  .product__two-buttons {
    padding-top: 13px;
  }

  .product__button-block {
    padding: 0 0 10px 10px;
  }

  .product__button {
    height: 33px;
    width: 75px;
    font-size: 12px;
  }
}

@media (--lg-viewport) {
  .popular-furniture__header {
    padding-bottom: 30px;
  }

  .popular-furniture__content {
    width: 68%;
  }

  .popular-furniture__switch {
    width: 32%;
  }

  .popular-furniture__head {
    padding-bottom: 20px;
    font-size: 32px;
  }

  .popular-furniture__text {
    padding-right: 50px;
    font-size: 20px;
  }

  .popular-furniture__switch-button {
    padding: 0 10px;
  }

  .popular-furniture__switch-left-button {
    width: 40px;
    height: 40px;
  }

  .popular-furniture__switch-right-button {
    width: 40px;
    height: 40px;
  }

  .popular-furniture__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 25px;
  }

  .product__img {
    height: 230px;
  }

  .product__info {
    padding: 15px;
    min-height: 140px;
  }

  .product__title {
    font-size: 18px;
  }

  .product__two-buttons {
    padding-left: 23px;
  }

  .product__button {
    height: 37px;
    width: 89px;
    font-size: 14px;
  }
}

@media (--xl-viewport) {
  .popular-furniture__grid {
    gap: 30px;
  }

  .product__img {
    height: 270px;
  }

  .product__info {
    padding: 20px;
    min-height: 150px;
  }

  .product__title {
    padding-left: 7px;
    font-size: 22px;
  }

  .product__price {
    padding-left: 7px;
    padding-bottom: 15px;
    font-size: 26px;
  }

  .product__two-buttons {
    padding-top: 11px;
    padding-left: 15px;
  }

  .product__button-block {
    padding-right: 7px;
  }
}
