.popular-furniture {
  display: flex;
  flex-direction: column;
}

.popular-furniture__header {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.popular-furniture__content {
  width: 90%;
}

.popular-furniture__switch {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
}

.popular-furniture__head {
  font-size: 18px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 30px;
  color: var(--text-primary);
}

.popular-furniture__text {
  padding-right: 11%;
  font-size: 10px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  line-height: 19px;
  color: var(--text-primary);
}

.popular-furniture__switch-button {
  padding: 0 5px;
}

.popular-furniture__switch-left-button {
  display: flex;
  align-items: center;
  width: 26px;
  height: 26px;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/images/left_button.svg');
  transition: background-image 0.3s ease;
}

.popular-furniture__switch-right-button {
  display: flex;
  align-items: center;
  width: 26px;
  height: 26px;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/images/right_button.svg');
  transition: background-image 0.3s ease;
}

.popular-furniture__grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 10px;
}

.popular-furniture__item {
  padding-left: 50px;
  padding-right: 50px;
}

@media (--sm-viewport) {
  .popular-furniture__head {
    padding-bottom: 5px;
    font-size: 22px;
  }

  .popular-furniture__text {
    font-size: 13px;
    line-height: 24px;
  }

  .popular-furniture__switch-button {
    padding-right: 10px;
  }

  .popular-furniture__switch-left-button {
    width: 33px;
    height: 33px;
  }

  .popular-furniture__switch-right-button {
    width: 33px;
    height: 33px;
  }

  .popular-furniture__grid {
    gap: 15px;
  }
}

@media (--md-viewport) {
  .popular-furniture__header {
    padding-bottom: 20px;
  }

  .popular-furniture__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
  }
}

@media (--lg-viewport) {
  .popular-furniture__header {
    padding-bottom: 30px;
  }

  .popular-furniture__content {
    width: 68%;
  }

  .popular-furniture__switch {
    width: 32%;
  }

  .popular-furniture__head {
    padding-bottom: 20px;
    font-size: 32px;
  }

  .popular-furniture__text {
    padding-right: 50px;
    font-size: 20px;
  }

  .popular-furniture__switch-button {
    padding: 0 10px;
  }

  .popular-furniture__switch-left-button {
    width: 40px;
    height: 40px;
  }

  .popular-furniture__switch-right-button {
    width: 40px;
    height: 40px;
  }

  .popular-furniture__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 25px;
  }
}

@media (--xl-viewport) {
  .popular-furniture__grid {
    gap: 30px;
  }
}
