.review {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 65px;
}

.review__image-section {
  position: relative;
  flex: 0 0 auto;
}

.review__image {
  width: 220px;
  height: 236px;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.review__decor--circle {
  position: absolute;
  width: 236px;
  height: 236px;
  background-color: var(--decor-secondary);
  border-radius: 50%;
  z-index: 1;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
}

.review__text-section {
  flex: 1;
}

.review__title {
  color: var(--text-primary);
  margin-bottom: 10px;
  font-size: 20px;
}

.review__description {
  color: var(--text-primary);
  margin-bottom: 20px;
  font-size: 14px;
}

.review__author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.review__author-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.review__author-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.review__author-name {
  color: var(--text-primary);
}

.review__rating {
  display: flex;
  align-items: center;
  gap: 8px;
}

.review__rating-icon {
  width: 16px;
  height: 16px;
}

.review__rating-value {
  color: var(--text-primary);
}

@media (--md-viewport) {
  .review-block {
    gap: 45px;
    padding-left: 96px;
  }

  .review__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .review__description {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .review__image {
    width: 350px;
    height: 376px;
  }

  .review__decor--circle {
    width: 376px;
    height: 376px;
    top: 50%;
    left: -80px;
  }
}

@media (--lg-viewport) {
  .review-block {
    gap: 55px;
    padding-left: 121px;
  }

  .review__image {
    width: 459px;
    height: 493px;
  }

  .review__decor--circle {
    width: 492px;
    height: 492px;
    left: -105px;
  }

  .review__title {
    font-size: 32px;
  }

  .review__description {
    font-size: 20px;
  }
}

@media (--xl-viewport) {
  .review-block {
    gap: 100px;
  }
}
