.section-space {
  padding-bottom: 60px;
}

.section-space--lg {
  padding-bottom: 60px;
}

.section-space--bg {
  background-color: var(--background-secondary);
}

@media (--md-viewport) {
  .section-space {
    padding-bottom: 100px;
  }
}

@media (--lg-viewport) {
  .section-space {
    padding-bottom: 140px;
  }

  .section-space--lg {
    padding-bottom: 80px;
  }
}
