.subscribe {
  background-color: var(--background-quaternary);
  padding: 68px 16px 55px;
  display: flex;
  justify-content: center;
}

.subscribe__title {
  color: var(--text-primary);
  margin-bottom: 20px;
}

.subscribe__text {
  color: var(--text-primary);
  margin-bottom: 40px;
}

.subscribe__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 605px;
}

.subscribe__form {
  width: 100%;
  max-width: 472px;
}

.subscribe__input-wrapper {
  position: relative;
  display: flex;
  background-color: var(--input-background);
  overflow: hidden;
  height: 67px;
}

.subscribe__input-icon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  z-index: 1;
}

.subscribe__input {
  flex-grow: 1;
  height: 100%;
  background: transparent;
  border: none;
  padding: 0 46px;
  color: var(--input-text);
  outline: none;
}

.subscribe__input::placeholder {
  color: var(--input-placeholder);
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.subscribe__button {
  height: 52px;
  margin: 8px 19px 8px 0;
  padding: 0 33px;
  background-color: var(--button-tertiary);
  color: var(--text-contrast);
  transition: background-color 0.3s ease;
  white-space: nowrap;
  flex-shrink: 0;
}

.subscribe__button:hover {
  background-color: var(--button-tertiary-hover);
}
