@import 'https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';

/* font-family: 'DM Sans', sans-serif; + font-weight: 400; = Regular
font-family: 'DM Sans', sans-serif; + font-weight: 500; = Medium
font-family: 'DM Sans', sans-serif; + font-weight: 700; = Bold
font-family: 'Montserrat', sans-serif; + font-weight: 700; = Bold */
:root {
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --text-large: 32px;
  --text-medium: 24px;
  --text-bigger: 20px;
  --text-regular: 16px;
  --text-smaller: 14px;
}

.text-lg {
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: var(--text-medium);
  line-height: 1.4;
}

.text-md {
  font-family: var(--font-dm-sans);
  font-weight: 500;
  font-size: var(--text-bigger);
}

.text-reg {
  font-family: var(--font-dm-sans);
  font-weight: 400;
  font-size: var(--text-smaller);
}

.text-reg-but-bigger {
  font-family: var(--font-dm-sans);
  font-weight: 400;
  font-size: var(--text-regular);
}

.text-btn {
  font-family: var(--font-dm-sans);
  font-weight: 500;
  font-size: var(--text-regular);
}

.text-sm-medium {
  font-family: var(--font-dm-sans);
  font-weight: 500;
  font-size: var(--text-smaller);
}

.text-bold-title {
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: var(--text-regular);
}

@media (--md-viewport) {
  .text-md {
    font-size: var(--text-medium);
  }
}

@media (--lg-viewport) {
  .text-reg {
    font-size: var(--text-regular);
  }

  .text-bold-title {
    font-size: var(--text-bigger);
  }

  .text-lg {
    font-size: var(--text-large);
  }
}
