:root {
  --color-white: #fff;
  --color-black: #242424;
  --color-gray: #726e8d;
  --color-muted-teal: #244d4d;
  --color-light-mint: #dee4e2;
  --color-off-white: #fcfbff;
  --color-tealish-white: #f4f6f6;
  --color-seawave: #305f64;
  --color-dark-cyan: #154444;
  --color-gray-muted: #505977;
  --color-gray-medium: #b6afaf;
  --color-charcoal: #444;
  --color-light-gray: #808080;
  --color-light-seawave: #d9dce5;
  --color-greenish-black: #122d2d;
  --color-darker-seawave: #0d393e;
  --color-darker-cyan: #013030;
  --color-dark-seawave: #1c4b50;
  --color-light-teal: #91bbbb;
}
