:root {
  --color-white: #fff;
  --color-black: #242424;
  --color-gray: #726e8d;
  --color-light-gray: #f9f9f9;
  --color-deep-teal: #154444;
  --color-muted-teal: #244d4d;
  --color-light-mint: #dee4e2;
  --color-off-white: #fcfbff; /* background */
  --color-tealish-white: #f4f6f6;
  --color-seawave: #305f64;
  --color-dark-cyan: #154444;
  --color-gray-muted: #505977;
  --color-white-alpha-15: rgb(255 255 255 / 15%);
  --color-gray-medium: #b6afaf;
  --color-charcoal: #444;
  --color-gray-text: #919090;
  --color-btn-line: #d9dce5;
}
