:root {
  color-scheme: dark;

  /* text group */
  --text-primary: var(--color-white); /* done */
  --text-secondary: var(--color-muted-teal);
  --text-tertiary: var(--color-seawave);
  --text-quaternary: var(--color-off-white); /* done */
  --text-inverse: var(--color-black); /* done */
  --text-contrast: var(--color-white);

  /* background group */
  --background-page: var(--color-black); /* done */
  --background-primary: var(--color-darker-cyan);
  --background-secondary: var(--color-white);
  --background-tertiary: var(--color-muted-teal);
  --background-quaternary: var(--color-darker-seawave);

  /* footer group */
  --footer-primary: var(--color-dark-seawave);
  --footer-accent: var(--color-light-seawave);

  /* button group */
  --button-primary: var(--color-muted-teal);
  --button-secondary: var(--color-white);
  --button-tertiary: var(--color-seawave);

  /* hover group */
  --button-primary-hover: var(--color-darker-cyan);
  --button-secondary-hover: var(--color-gray-medium);
  --button-tertiary-hover: var(--color-dark-seawave);
  --button-text-hover: var(--color-white); /* done */

  /* form group */
  --input-background: var(--color-white);
  --input-text: var(--color-black);
  --input-placeholder: var(--color-gray-text);

  /* else */
  --decor-primary: var(--color-light-mint);
  --decor-secondary: var(--color-darker-cyan);
  --icon-primary: var(--color-white);
}
