:root {
  color-scheme: dark;

  --color-primary: var(--color-black);
  --color-secondary: var(--color-off-white);
  --page-background: var(--color-deep-teal);

  /* Background group */
  --background-default: var(--color-dark-cyan);
  --background-secondary: var(--color-background-alpha-15);
  --background-primary: var(--color-white);

  /* Text group */
  --text-primary: var(--color-white);
  --text-secondary: var(--color-gray-muted);
  --text-inverse: var(--color-dark-cyan);
}
